<div class="passage-container">
  <h1>Passages</h1>

  <div ng-hide="ctrl.hasPassages()">
    No passages found.
    <a href="/passages/new">Create one</a>,
    or <a href="" ng-click="ctrl.stub()">stub 10</a>.
  </div>

  <table class="table table-striped" ng-show="ctrl.hasPassages()">
    <thead>
      <tr>
        <th>Name <a class="pull-right" href="/passages/new">Add Passage</a></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="passage in ctrl.passages">
        <td><a href="">{{passage.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
